.git
.github
.codex
.cursor
.gemini
node_modules
vendor
.env
.env.*
!.env.example
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
phpunit.xml
phpunit.result.cache
*.dbml
*.dbdiagram
method1.txt
method2.txt
README.md
